/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --dark-gray: #2c3e50;
    --aqua: #1abc9c;
    --white: #ffffff;
    --light-gray: #3a546d;
    --black: #333333;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    color: var(--white);
}
.ct-max-width-1200px{
    max-width: 1200px;
}
header nav, #bottom-footer{
    background-color: var(--dark-gray);
}
#hero, #about-us{
    background-color: var(--aqua);
}
#portfolio, #contacts{
    background-color: var(--white);
    color: var(--black);
}
#top-footer{
    background-color: var(--light-gray);
}
hr{
    opacity: 1;
}
#hero hr, #about-us hr{
    border: 2px solid var(--white);
}
#portfolio hr, #contacts hr{
    border: 2px solid var(--black);
}
.ct-text-aqua{
    color: var(--aqua);
}
.ct-bg-aqua{
    background-color: var(--aqua);
}
#top-footer button{
    width: 50px;
    height: 50px;
}
.ct-placeholder::placeholder{
    color: var(--black);
}