/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --dark-grey: #2c3e50;
    --aqua: #1abc9c;
    --white: #ffffff;
    --light-gray: #3a546d;
    --black: #333333;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/