/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --dark-gray: #2c3e50;
    --aqua: #1abc9c;
    --white: #ffffff;
    --light-gray: #3a546d;
    --black: #333333;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
body{
    background-color: var(--white);
}
header, #bottom-footer{
    background-color: var(--dark-gray);
}
#hero, #about-us{
    background-color: var(--aqua);
}
#portfolio, #contacts{
    background-color: var(--white)
}
#top-footer{
    background-color: var(--light-gray);
}